    body {
      background-color: #F5F7FA;
      font-family: MontserratRegular;
    }

    .content-wrapper {
      background-color: white;
    }

    table {
      table-layout: fixed;
      overflow: hidden;
      font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .table td,
    .table th {
      border-top: none;
    }

    /* Logo / branding */

    .brand-link {
      background-color: white;
      font-family: DaysOne-Regular;
      /* font-weight: 600; */
    }

    [class*=sidebar-dark] .brand-link {
      border: none;
      border-width: 0;
      border-style: none;
    }

    .brand-text {
      color: #0E447E;
      font-size: 25px;
    }

    .fa-bars {
      color: #0E447E;
    }

    /*button input data baru*/

    .new-entry {
      background-color: #F5F7FA;
      height: 40px;
      margin-top: 40px;
    }

    /*end button input data baru*/

    a.btn.btn-primary,
    .btn-submit,
    .btn-lg {
      border-radius: 40px;
      background-image: url('../images/orangebtnbg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #E24901;
      border: none;
      padding: 6px 12px;
    }

    a.btn.btn-primary-paket,
    .btn-submit-paket,
    .btn-lg-paket,
    .btn-paket {
      border-radius: .25rem;
      background-image: url('../images/yellowbtnbg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #E24901;
      border: none;
      padding: 6px 12px;
    }

    .file-form {
      background-color: white;
      border: 1px solid #CED4DA;
      border-radius: 40px
    }

    .btn.btn-submit {
      border-radius: 40px;
      width: 60%;
      color: white;
      background-color: #E24901;
      border: none;
      padding: 6px 12px;
    }

    /*jumbotron dashboard user/home */

    .jumbotron.jumbotron-fluid-profil {
      background-image: url(../dist/img/home-jumbotron.jpg);
      background-size: cover;
      height: 200px;
    }

    /*profile pic dashboar user/home */

    .jumbotron.jumbotron-fluid-profil h4 {
      text-align: center;
      color: #F5F7FA;
    }

    .profile-pic-div {
      height: 150px;
      width: 150px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid white;
      margin-top: -110px;
      z-index: 2;
    }

    #photo {
      height: 100%;
      width: 100%;
    }

    /*end profile pic dasbor user*/
    /*Container profile saya dashboard user*/

    .container-profil-saya {
      height: auto;
      width: 100%;
      background-color: white;
      margin-top: 10px;
      border-radius: 8px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .container-profil-header {
      /*background-color: grey;*/
      height: 80px;
      border-bottom: 1px solid #aaa;
    }

    .container-profil-flex {
      height: auto;
    }

    .container-profil-kiri {
      margin-top: 10px;
    }

    /*End Container profile saya dashboard user*/

    shop-item {
      margin: 30px;
    }

    .shop-item-title {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: #333;
    }

    .shop-item-image {
      /* height: auto; */
      object-fit: cover;
      max-height: 25%;
    }

    .deskripsi_pilih_tk {
      /* -webkit-line-clamp: 2;
        height: 40px; */
    }

    .shop-item-details {
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .shop-item-price {
      flex-grow: 1;
      color: #333;
    }

    .shop-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .cart-header {
      font-weight: bold;
      font-size: 1.25em;
      color: #333;
    }

    .shop-button-selected {
      background-color: gray !important;
      background-image: none !important;
    }

    .cart-column {
      /* display: flex; */
      word-wrap: break-word;
      align-items: center;
      margin-right: 1.5em;
      padding-bottom: 10px;
      margin-top: 10px;
    }

    .cart-row {
      display: flex;
    }

    .cart-item {
      width: 45%;
    }

    .cart-price {
      width: 20%;
      font-size: 1.2em;
      color: #333;
    }

    .cart-quantity {
      width: 35%;
    }

    .cart-item-title {
      color: #333;
      margin-left: .5em;
      font-size: 1.2em;
    }

    .cart-item-image {
      width: 75px;
      height: auto;
      border-radius: 7px;
    }

    .cart-quantity-input {
      height: 34px;
      width: 50px;
      border-radius: 5px;
      border: 1px solid #56CCF2;
      background-color: #eee;
      color: #333;
      padding: 0;
      text-align: center;
      font-size: 1.2em;
      margin-right: 25px;
    }

    .cart-row {
      border-bottom: 1px solid rgb(116, 116, 116);
    }

    .cart-row:last-child .cart-column {
      border: none;
    }

    .cart-total {
      text-align: end;
      margin-top: 10px;
      margin-right: 10px;
    }

    .cart-total-title {
      font-weight: bold;
      font-size: 1.5em;
      color: black;
      margin-right: 20px;
    }

    .cart-total-price {
      color: #333;
      font-size: 1.1em;
    }

    .btn-purchase {
      display: block;
      margin: 40px auto 80px auto;
      font-size: 1.25em;
    }

    .scrollup {
      width: 40px;
      height: 40px;
      position: fixed;
      z-index: 999;
      bottom: 20px;
      right: 20px;
      display: none;
    }

    .os-content {
      background-image: url('../images/sidebarbg.jpg');
      /* background-repeat: no-repeat; */
      background-position: center;
      background-size: cover;
      border: none;
      border-width: 0;
      border-style: none;
    }

    .nav-sidebar>.nav-item>.nav-link.active,
    .nav-treeview>.nav-item>.nav-link.active,
    .btn-blue {
      background-image: url('../images/sidebaractivebg.jpg') !important;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      border-radius: 40px;
    }

    .nav-treeview>.nav-item>.nav-link{
      font-size: 0.9rem;
    }

    .btn-warning {
      background-image: url('../images/yellowbtnbg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      border-radius: 40px;
      /* transition: none !important; */
    }

    .btn {
      transition: 0.2s;
      box-shadow: 1px 1px 3px #adadad !important;
    }

    .btn:hover {
      filter: contrast(150%);
    }

    .btn-act {
      color: rgb(0, 80, 199);
      margin-right: 10px;
      border-radius: 40px;
    }

    .btn-act:hover {
      filter: brightness(60%)
    }

    .fa-trash-alt {
      color: rgb(179, 29, 3);
    }

    .elevation-4 {
      box-shadow: none !important;
      border: none !important;
    }

    .main-bar {
      border: none !important;
    }

    [class*=sidebar-dark-] {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    .navbar-white {
      background-image: url('../images/sidebarbg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .sidebar{
      background-image: url('../images/sidebarbg.jpg');
      /* background-position: center; 
      background-size: cover; */  
    }

    .navbar-light .navbar-nav .nav-link {
      color: white !important;
      text-shadow: 1px 1px 4px #030128;
    }

    .fa-bars {
      color: white;
    }

    [class*=sidebar-dark-] .sidebar a {
      color: white !important;
      text-shadow: 0px 0px 3px #000917;
    }

    .card-pilihan {
      text-align: center;
      padding-top: 0.25em;
      -webkit-transform: translate3d(0, 0, 0);
    }

    @font-face {
      font-family: MontserratRegular;
      src: url(../webfonts/Montserrat-Regular.ttf);
    }

    @font-face {
      font-family: MontserratLight;
      src: url(../webfonts/Montserrat-Light.ttf);
    }

    @font-face {
      font-family: MontserratSemiBold;
      src: url(../webfonts/Montserrat-SemiBold.ttf);
    }

    @font-face {
      font-family: LostFish;
      src: url(../webfonts/LostFish.ttf);
    }

    @font-face {
      font-family: DaysOne-Regular;
      src: url(../webfonts/DaysOne-Regular.ttf);
    }

    @font-face {
      font-family: RussoOne-Regular;
      src: url(../webfonts/RussoOne-Regular.ttf);
    }

    .blue-container,
    .table-striped>tbody>tr {
      /* background-color: #ddeeff; */
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('../images/topbarbg.jpg');
      /* color: white; */
    }

    .wilayah-blue-bg{
      background-image: url('../images/topbarbg.jpg');
    }

    .table-striped>tbody>tr:nth-child(even)>td,
    .table-striped>tbody>tr:nth-child(even)>th {
      background-color: #ffffff;
      /* color: white; */
    }

    .collapse tr {
      /* background-color: #ddeeff; */
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
      background-image: url('../images/subtablebg.jpg');
      /* color: white; */
    }

    .subdetail {
      background-repeat: no-repeat;
      background-image: url('../images/subtablebg.jpg');
    }

    .collapse tr:nth-child(even)>td,
    .collapse tr:nth-child(odd)>th {
      background-color: #ffffff;
    }

    .btn.btn-link-slide {
      border-radius: 40px;
      color: white;
      background-color: #E24901;
      border: none;
      padding: 12px 24px;
      border-radius: 24px;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.6px;
    }

    #img-cap {
      padding-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 55%;
    }

    .btn-card {
      background-color: #E24901;
      border: none;
    }

    .dashboard-home {
      background-color: #F5F7FA;
    }

    .batch-donasi {
      background-color: #e2ecfc;
    }

    .batch-pilihan {
      background-color: #e5ffe9;
    }

    .number-input {
      font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .dash-primary {
      background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    }

    .dash-warning {
      background-image: linear-gradient(to right, #fffaf3 0%, #fff4b4 100%);
    }

    .dash-success {
      background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    }

    .dash-danger {
      background-image: linear-gradient(-20deg, #ffdee3 0%, #ffe5d4 100%);
    }



    /* Progress Bar */
    .flexer,.progress-indicator{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.no-flexer,.progress-indicator.stacked{display:block}
    .no-flexer-element{-ms-flex:0;-webkit-flex:0;-moz-flex:0;flex:0}
    .flexer-element,.progress-indicator>li{-ms-flex:1;-webkit-flex:1;-moz-flex:1;flex:1}.progress-indicator{margin:0 0 1em;padding:0;font-size:80%;}
    .progress-indicator>li{list-style:none;text-align:center;width:auto;padding:0;margin:0;position:relative;text-overflow:ellipsis;color:#bbb;display:block}
    .progress-indicator>li:hover{color:#6f6f6f}.progress-indicator>li.completed,.progress-indicator>li.completed .bubble{color:#65d074}.progress-indicator>li .bubble{border-radius:1000px;width:20px;height:20px;background-color:#bbb;display:block;margin:0 auto .5em;border-bottom:1px solid #888}
    .progress-indicator>li .bubble:after,.progress-indicator>li .bubble:before{display:block;position:absolute;top:9px;width:100%;height:3px;content:'';background-color:#bbb}.progress-indicator>li.completed .bubble,.progress-indicator>li.completed .bubble:after,.progress-indicator>li.completed .bubble:before{background-color:#65d074;border-color:#247830}
    .progress-indicator>li .bubble:before{left:0}.progress-indicator>li .bubble:after{right:0}.progress-indicator>li:first-child .bubble:after,.progress-indicator>li:first-child .bubble:before{width:50%;margin-left:50%}.progress-indicator>li:last-child .bubble:after,.progress-indicator>li:last-child .bubble:before{width:50%;margin-right:50%}
    .progress-indicator>li.active,.progress-indicator>li.active .bubble{color:#337AB7}.progress-indicator>li.active .bubble,.progress-indicator>li.active .bubble:after,.progress-indicator>li.active .bubble:before{background-color:#337AB7;border-color:#122a3f}.progress-indicator>li a:hover .bubble,.progress-indicator>li a:hover .bubble:after,.progress-indicator>li a:hover .bubble:before{background-color:#5671d0;border-color:#1f306e}
    .progress-indicator>li a:hover .bubble{color:#5671d0}.progress-indicator>li.danger .bubble,.progress-indicator>li.danger .bubble:after,.progress-indicator>li.danger .bubble:before{background-color:#d3140f;border-color:#440605}.progress-indicator>li.danger .bubble{color:#d3140f}.progress-indicator>li.warning .bubble,.progress-indicator>li.warning .bubble:after,.progress-indicator>li.warning .bubble:before{background-color:#edb10a;border-color:#5a4304}
    .progress-indicator>li.warning .bubble{color:#edb10a}.progress-indicator>li.info .bubble,.progress-indicator>li.info .bubble:after,.progress-indicator>li.info .bubble:before{background-color:#5b32d6;border-color:#25135d}.progress-indicator>li.info .bubble{color:#5b32d6}.progress-indicator.stacked>li{text-indent:-10px;text-align:center;display:block}.progress-indicator.stacked>li .bubble:after,.progress-indicator.stacked>li .bubble:before{left:50%;margin-left:-1.5px;width:3px;height:100%}
    .progress-indicator.stacked .stacked-text{position:relative;z-index:10;top:0;margin-left:60%!important;width:45%!important;display:inline-block;text-align:left;line-height:1.2em}.progress-indicator.stacked>li a{border:none}.progress-indicator.stacked.nocenter>li .bubble{margin-left:0;margin-right:0}.progress-indicator.stacked.nocenter>li .bubble:after,.progress-indicator.stacked.nocenter>li .bubble:before{left:10px}.progress-indicator.stacked.nocenter .stacked-text{width:auto!important;display:block;margin-left:40px!important}@media handheld,screen and (max-width:400px){
      .progress-indicator{font-size:60%}}

.row-collapse{
  padding-bottom: 3em;
}   

.progress-indicator{
  background-color: white;
  padding: 1em;
  border-radius: 5px;
}